*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    text-decoration: none;
    list-style: none;
}

body{
    background-color: #1e1e1e;
    /* ! */
    /* border-collapse: collapse; */
}

table{
    border: 2px solid white;
    color: antiquewhite;
}

th , tr , td{
    border: 2px solid white;
}